<!doctype html>
<html lang="en">
<head>


<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link  rel="icon"   href="/assets/favicon.png" type="image/png" />

<meta name="description" content="Updates and statistics" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<link rel="canonical" href="https://keenthemes.com/metronic" />
<!--begin::Fonts-->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" />
<!--end::Fonts-->
<!--begin::Page Vendors Styles(used by this page)-->
<link href="/assets/plugins/custom/fullcalendar/fullcalendar.bundle.css" rel="stylesheet" type="text/css" />
<!--end::Page Vendors Styles-->
<!--begin::Global Theme Styles(used by all pages)-->
<link href="/assets/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />
<link href="/assets/plugins/custom/prismjs/prismjs.bundle.css" rel="stylesheet" type="text/css" />
<link href="/assets/css/style.bundle.css" rel="stylesheet" type="text/css" />
<link href="/assets/css/main.css" rel="stylesheet" >

<!--end::Global Theme Styles-->
<!--begin::Layout Themes(used by all pages)-->
<!--end::Layout Themes-->
<link rel="shortcut icon" href="/assets/favicon.png" />

{% block head %}
{% endblock %}

</head>
<body id="kt_body" class="header-fixed header-mobile-fixed header-bottom-enabled page-loading">

<main>

<!-- header-start -->
<header class="default-header" style="border-bottom: #a0aeb8 1px solid;"><!--header-transparent-->
    <div class="main-menu-area menu-2 pl-155 pr-115">
        <div class="container-fluid">
            <div class="row d-flex align-items-center padmen " id="menu">
                <div class="col-xl-2 col-lg-2 p0">
                    <div class="logo">
                        <a href="/index.html"><img src="/assets/ELEMENTOS/LOGOTIPO_RC.png" alt="Logo Red Ciudadana" style="margin-left: 5%;height:70px; margin-bottom:20px" /></a>
                    </div>
                </div>
                
                <div class="col-xl-8 col-lg-8" >
                    <div class="main-menu f-left ">
                        <nav id="mobile-menu" class="mobile-menu" >
                            <ul class="nav-menu" id="nav-menu">
                                
                                <!--begin::Item-->
                                <li class="nav-item mr-3">
                                    <!--data-target="#kt_header_tab_2"   data-toggle="tab" role="tab"-->
                                    <a href="/databier/index.html" class="nav-link py-4 " >Índice de Datos Abiertos</a>
                                </li>
                                <!--end::Item-->
                                <!--end::Item-->
                               <!--begin::Item-->
                                <li class="nav-item mr-3">
                                    <!--data-target="#kt_header_tab_2"   data-toggle="tab" role="tab"-->
                                    <a href="/gobelec/index.html" class="nav-link py-4 " >Índice de Gobierno Electrónico</a>
                                </li>
                                <!--end::Item-->
                                
                            </ul>
                            <ul class="icon">
                                <li >
                                    <a href="javascript:void(0);"  onclick="myFunction()">
                                        <i class="fa fa-bars " style="font-size: 4rem"></i>
                                    </a>
                                </li>
                            </ul>

                            <script src="/assets/js/menu.js"> </script>
                        </nav>
                        
                        <div class="vertical-menu" id="verm" style="display:none">
                            
                            <a href="/databier/index.html">Índice de Datos Abiertos</a>
                            <a href="/gobelec/index.html">Índice de Gobierno Electrónico</a>
                        </div>
                        
                    </div>
                </div>
                <div class="col-xl-2 col-lg-2 d-none d-xl-block ">
                    <div class="header-02-wrapper">
                        
                        <div id="redes" class="header-icon header-02-icon  f-right" style="margin-bottom:1rem">
                            
                            <a target="_blank" href="https://www.facebook.com/Redciudadanagt"><i class="fab fa-facebook-f"></i></a>
                            <a target="_blank" href="https://twitter.com/redxguate"><i class="fab fa-twitter"></i></a>
                            <a target="_blank" href="https://www.instagram.com/redxguate/"><i class="fab fa-instagram"></i></a>
                            <a target="_blank" href="https://www.youtube.com/channel/UCQwc62j7beStZYFzwPxBEQg"><i class="fab fa-youtube"></i></a>
                            
                        </div>
                        
                    </div>
                </div>
                
                <div class="col-12">
                    <div class="mobile-menu"></div>
                </div>

            </div>
        </div>
    </div>
</header>
<!-- header-end -->



{% block content %}
{% endblock %} 
            
        <!-- footer-area-start -->
        <footer>
            <div class="footer-middle-area pt-80 pb-25" style="background-image:url(/assets/bg-05.jpeg);    padding-bottom: 10%">
                <div class="container">
                    <div class="row" style="padding-top: 5rem;">
                        <div class="col-xl-2 col-lg-2 col-md-2" style="margin-bottom: -80px;"> 
                            <div class="footer-wrapper mb-30">
                                <div class="footer-logo">
                                    <a href="/index.html"><img src="/assets/LOGO-EN-BLANCO.png" alt=""></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-5 col-lg-4 col-md-6">
                            <div class="footer-wrapper mb-30">
                                
                                <div class="footer-text">
                                    <p>Somos una organización sin fines de lucro, creada con la misión de incentivar la participación y la auditoría ciudadana. Nuestros proyectos están orientados a eliminar los obstáculos más comunes que interfieren con el ejercicio de la ciudadanía y con el fortalecimiento de la institucionalidad a través del uso innovador de la tecnología y de la comunicación.</p>
                                </div>
                                <div class="footer-icon footer-02-icon">
                                    <a target="_blank" href="https://www.facebook.com/Redciudadanagt"><i class="fab fa-facebook-f"></i></a>
                                    <a target="_blank" href="https://twitter.com/redxguate"><i class="fab fa-twitter"></i></a>
                                    <!--a href="#"><i class="fab fa-google-plus-g"></i></a>
                                    <a href="#"><i class="fab fa-behance"></i></a-->
                                    <a target="_blank" href="https://www.instagram.com/redxguate/"><i class="fab fa-instagram"></i></a>
                                    <a target="_blank" href="https://www.youtube.com/channel/UCQwc62j7beStZYFzwPxBEQg"><i class="fab fa-youtube"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-3 col-md-6">
                            <div class="footer-wrapper mt-25 mb-30">
                                <h3 class="footer-title">¿Te gusta lo que hacemos?</h3>
                                <ul class="contact-link">
                                    <li>
                                        <div class="contact-address-icon">
                                            <i class="fa fa-heart " style="color:#FFF!important"></i>

                                        </div>
                                        <div class="contact-address-text">
                                            <!--span>26 Simpson Avenue <br> Harrisburg,  USA</span-->
                                            <a target="_blank" href="http://donacion.redciudadana.org/"><span>Donaciones</span></a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="contact-address-icon">
                                            <i class="fa fa-users " style="color:#FFF!important"></i>
                                        </div>
                                        <div class="contact-address-text">
                                            <!--span>support@gmail.com</span-->
                                            <a target="_blank" href="http://voluntarios.redciudadana.org/"><span>Voluntariado</span></a>
                                        </div>
                                    </li>
                                    <!--li>
                                        <div class="contact-address-icon">
                                            <i class="far fa-phone"></i>
                                        </div>
                                        <div class="contact-address-text">
                                            <span>+012 (3456) 7788</span>
                                        </div>
                                    </li-->
                                </ul>
                            </div>
                        </div>

                        <div class="col-xl-3 col-lg-3 col-md-6">
                            <div class="footer-wrapper mt-25 mb-30">
                                <h3 class="footer-title">Contáctanos</h3>
                                <!--div class="footer-link"-->
                                <ul class="contact-link">
                                    <li>
                                        <div class="contact-address-icon">
                                            <i target="_blank" class="fa fa-envelope " style="color:#FFF!important"></i>

                                        </div>
                                        <div class="contact-address-text">
                                            <!--span>26 Simpson Avenue <br> Harrisburg,  USA</span-->
                                            <a target="_blank" href="mailto:info@redciudadana.org.gt"><span>info@redciudadana.org.gt</span></a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="contact-address-icon">
                                            <i target="_blank" class="fa fa-map-marker " style="color:#FFF!important"></i>

                                        </div>
                                        <div class="contact-address-text">
                                            <!--span>26 Simpson Avenue <br> Harrisburg,  USA</span-->
                                            <a target="_blank" href="https://goo.gl/maps/PWTeqy6qRpNQ8foC7"><span>Guatemala, Guatemala</span></a>
                                        </div>
                                    </li>
                                    <!--li><a href="#">Need A Job ?</a></li>
                                    <li><a href="#">Become A Menber ?</a></li>
                                    <li><a href="#">Appointment</a></li>
                                    <li><a href="#">Our Store</a></li>
                                    <li><a href="#">Setting & Privacy</a></li-->
                                </ul>
                                <!--/div-->
                            </div>
                        </div>
                    </div>
                    <div class="footer-bottom-area pt-25 mt-45">
                        <div class="row">
                            <div class="col-xl-12">
                                <div class="copyright text-center">
                                    <p style="color:#FFF!important"><!--i class="far fa-copyright"></i> 2020 <a href="#">Fundee.</a--> Asociación Civil Red Ciudadana</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- footer-area-end -->
        

</main>





{% block body_javascripts %}

<script>var HOST_URL = "https://preview.keenthemes.com/metronic/theme/html/tools/preview";</script>
<!--begin::Global Config(global config for global JS scripts)-->
<script>var KTAppSettings = { "breakpoints": { "sm": 576, "md": 768, "lg": 992, "xl": 1200, "xxl": 1200 }, "colors": { "theme": { "base": { "white": "#ffffff", "primary": "#6993FF", "secondary": "#E5EAEE", "success": "#1BC5BD", "info": "#8950FC", "warning": "#FFA800", "danger": "#F64E60", "light": "#F3F6F9", "dark": "#212121" }, "light": { "white": "#ffffff", "primary": "#E1E9FF", "secondary": "#ECF0F3", "success": "#C9F7F5", "info": "#EEE5FF", "warning": "#FFF4DE", "danger": "#FFE2E5", "light": "#F3F6F9", "dark": "#D6D6E0" }, "inverse": { "white": "#ffffff", "primary": "#ffffff", "secondary": "#212121", "success": "#ffffff", "info": "#ffffff", "warning": "#ffffff", "danger": "#ffffff", "light": "#464E5F", "dark": "#ffffff" } }, "gray": { "gray-100": "#F3F6F9", "gray-200": "#ECF0F3", "gray-300": "#E5EAEE", "gray-400": "#D6D6E0", "gray-500": "#B5B5C3", "gray-600": "#80808F", "gray-700": "#464E5F", "gray-800": "#1B283F", "gray-900": "#212121" } }, "font-family": "Poppins" };</script>
<!--end::Global Config-->
<!--begin::Global Theme Bundle(used by all pages)-->
<script src="assets/plugins/global/plugins.bundle.js"></script>
<script src="assets/plugins/custom/prismjs/prismjs.bundle.js"></script>
<script src="assets/js/scripts.bundle.js"></script>
<!--end::Global Theme Bundle-->


{% endblock %}


</body>
</html>
