---
pagination:
  data: resumendatabier
  size: 1
  addAllPagesToCollections: true
  alias: resdata
tags:
  - resdata
permalink: "databier/index.html"
---

{% extends "base.njk" %}

{% block head %}
<title> Índice de datos Abiertos </title>
{% endblock %}

{% block content %}
<!--begin::Body-->
			<!-- breadcrumb-area-start -->
			<div class="breadcrumb-area pt-150 pb-155" style="background-image:url('/assets/SISTEMA RANKING/SLIDER/02.png');background-size:cover;">
				<div class="container">
					<div class="row">
						<div class="col-xl-6">
							<div class="breadcrumb-text text-center" style="padding: 0 2rem">
								<h2 class="text-white text-left" style="font-weight:1000;font-size:5rem">Índice de datos Abiertos 2021</h2>
								<h3 class="font-size-h4 font-size-h1-sm font-size-h4-lg font-size-h1-xl mb-0 text-white font-weight-bolder">
								</h3>
							</div>
						</div>
						<!--Paginas-->
						<div class="col-xl-6">

							<select onchange="window.location.href=this.options[this.options.selectedIndex].value" name="elige" size="1" style=" height: 50px;    font-weight: 500; padding-left:20px">
								<option value="#" selected>Seleccione la Institución de interés</option>
								{% for item in collections.databier%}
								<option value="{{item.url}}">{{item.data.databier.Institucion}}</option> 
								{% endfor %}
							</select>

							<!--ul id="list">

								{% for item in collections.databier%}
								<li><a href="{{item.url}}">-&nbsp{{item.data.databier.Institucion}}</a><li>
								{% endfor %}

							</ul-->
							
							
						</div>
					</div>
				</div>
			</div>
			<!-- breadcrumb-area-end -->
			<!--begin::Content-->
			<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
				<!--begin::Entry-->
				<div class="d-flex flex-column-fluid">
					<!--begin::Container-->
					<div class="container">
						<!--begin::Page Layout-->
						<div class="d-flex flex-row">
							<!--begin::Layout-->
							<div class="flex-row-fluid ml-lg-8">

								<div class="row" style="margin-bottom:1rem">

									
									<div class="col-xl-4 card" style="padding-top:5%">

										<h3 class="text-left" style="padding-left:20px">Indicador 2021</h3>
										<p id="indicador" style="display:none">{{resdata.IndicadorInstitucion2021}}</p>

										<div id="kt_mixed_widget_18_chart" style="height: 200px"></div>
										
											
									</div>

									<div class="col-xl-8 " style="display:flex; flex-wrap:wrap">
										<div class="col-xl-4" style="margin-bottom:1rem">

											<div class="card-body p-0 d-flex rounded " style="background:radial-gradient(94.09% 94.09% at 50% 50%, rgba(255, 255, 255, 0.45) 0%, rgba(255, 255, 255, 0) 100%), #fff; margin-bottom:1rem;height:100%!important">
												<div class="row m-0">	
													<div class=" p-0">
														<div class="card card-custom card-stretch card-transparent card-shadowless">
															<div class="card-body d-flex flex-column justify-content-center">
																<h3 class="font-size-h4 font-size-h1-sm font-size-h4-lg font-size-h4-lg font-size-h1-xl mb-0  font-weight-bolder text-center" >
																	Indicador del 2021: &nbsp{{resdata.IndicadorInstitucion2021}}
																</h3>
															</div>
														</div>
													</div>
												</div>
											</div>

										</div>

										<div class="col-xl-4" style="margin-bottom:1rem">

											<div class="card-body p-0 d-flex rounded" style="background:radial-gradient(94.09% 94.09% at 50% 50%, rgba(255, 255, 255, 0.45) 0%, rgba(255, 255, 255, 0) 100%), #fff; margin-bottom:1rem;height:100%!important">
												<div class="row m-0">	
													<div class=" p-0">
														<div class="card card-custom card-stretch card-transparent card-shadowless">
															<div class="card-body d-flex flex-column justify-content-center">
																<h3 class="font-size-h4 font-size-h1-sm font-size-h4-lg font-size-h4-lg font-size-h1-xl mb-0  font-weight-bolder text-center" >
																	Respuesta COVID-19: &nbsp{{resdata.RespuestaCOVID_19}}
																</h3>
															</div>
														</div>
													</div>
												</div>
											</div>

										</div>

										<div class="col-xl-4" style="margin-bottom:1rem">

											<div class="card-body p-0 d-flex rounded" style="background:radial-gradient(94.09% 94.09% at 50% 50%, rgba(255, 255, 255, 0.45) 0%, rgba(255, 255, 255, 0) 100%), #fff; margin-bottom:1rem;height:100%!important">
												<div class="row m-0">	
													<div class=" p-0">
														<div class="card card-custom card-stretch card-transparent card-shadowless">
															<div class="card-body d-flex flex-column justify-content-center">
																<h3 class="font-size-h4 font-size-h1-sm font-size-h4-lg font-size-h4-lg font-size-h1-xl mb-0  font-weight-bolder text-center" >
																	Instituciones Evaluadas: &nbsp{{resdata.Instituciones}}
																</h3>
															</div>
														</div>
													</div>
												</div>
											</div>

										</div>
									</div>
									
								</div>

								<div class="row" style="margin-bottom:1rem">

									<div class="col-xl-12" >


										<figure class="highcharts-figure" style="padding:2rem">
											<div id="container"></div>
										</figure>
										<!--begin::Mixed Widget 5-->
										<div class="card card-custom bg-radial-gradient-danger gutter-b">
											<!--begin::Header-->
											<!--div class="card-header border-0 py-5">
												<h3 class="card-title font-weight-bolder">Indicadores de Evaluación - Datos Abiertos 2021 - Global </h3>
											</div-->
											<!--end::Header-->
											<!--begin::Body-->
											<div class="card-body d-flex flex-column p-0">

												<p id="recd" style="display:none">{{resdata.Recoleccion_y_produccion_de_datos}} </p> 
												<p id="disp" style="display:none">{{resdata.Disponibilidad_en_linea}} </p>
												<p id="plat" style="display:none">{{resdata.Plataformas}} </p>
												<p id="acc" style="display:none">{{resdata.Acceso}} </p>
												<p id="per" style="display:none">{{resdata.Periodicidad_de_actualizacion}} </p>
												<p id="lic" style="display:none">{{resdata.Licencia}} </p>
												<p id="form" style="display:none">{{resdata.Formatos}} </p>
												<p id="leg" style="display:none">{{resdata.Legibilidad}} </p>
												<p id="gob" style="display:none">{{resdata.Gobernanza}} </p>
												<!--begin::Chart-->
												<!--div id="kt_mixed_widget_5_chart" style="height: 200px"></div-->
												<!--end::Chart-->
												<!--begin::Stats-->
												<div class="">
												<!--begin::Row-->
												<div class="row m-0">
												<!--div class="col px-8 py-6 mr-8">
													<div class="font-size-sm text-muted font-weight-bold">Average Sale</div>
													<div class="font-size-h4 font-weight-bolder">$650</div>
												</div-->
												</div>
												<!--end::Row-->
												</div>
												<!--end::Stats-->
											</div>
										<!--end::Body-->
										</div>
										<!--end::Mixed Widget 5-->
									</div>
									
								</div>

								<div class="row" style="margin-bottom:1rem">

									<div class="col-xxl-12">
										<!--begin::Advance Table Widget 3-->
										<div class="card card-custom gutter-b" >
											<!--begin::Header-->
											<!--div class="card-header border-0 py-5">
												<h3 class="card-title align-items-start flex-column">
													<span class="card-label font-weight-bolder text-dark">Institución</span>
												</h3>
											</div-->
											<!--end::Header-->
											<!--begin::Body-->
											<div class="card-body pt-0 pb-3" style="margin: 2rem;padding:0!important">
												<!--begin::Table-->
												<div class="table-responsive">
													<table class="table table-head-custom table-head-bg table-borderless table-vertical-center">
														<thead>
															<tr style="height:20px!important">
																<th style="min-width: 150px" class="pl-7" ><img src="/assets/SISTEMA RANKING/ICONOS/01.png"></th>
																<th style="max-width: 150px"><img src="/assets/SISTEMA RANKING/ICONOS/02.png"></th>
																<th style="max-width: 150px"><img src="/assets/SISTEMA RANKING/ICONOS/03.png"></th>
																<th style="max-width: 150px"><img src="/assets/SISTEMA RANKING/ICONOS/04.png"></th>
																<th style="max-width: 150px"><img src="/assets/SISTEMA RANKING/ICONOS/08.png"></th>
																<th style="max-width: 150px"><img src="/assets/SISTEMA RANKING/ICONOS/05.png"></th>
																<th style="max-width: 150px"><img src="/assets/SISTEMA RANKING/ICONOS/09.png"></th>
																<th style="max-width: 150px"><img src="/assets/SISTEMA RANKING/ICONOS/06.png"></th>
																<th style="max-width: 150px"><img src="/assets/SISTEMA RANKING/ICONOS/10.png"></th>
																<th style="max-width: 150px"><img src="/assets/SISTEMA RANKING/ICONOS/11.png"></th>
																<th style="max-width: 150px"><img src="/assets/SISTEMA RANKING/ICONOS/07.png"></th>
															</tr>
															<tr class="text-uppercase">
																<th style="min-width: 150px" class="pl-7" >
																	<span class="text-dark-75">Institución</span>
																</th>
																<th style="max-width: 150px">Prod. de datos</th>
																<th style="max-width: 150px">Disponibilidad</th>
																<th style="max-width: 150px">Plataformas</th>
																<th style="max-width: 150px">Acceso</th>
																<th style="max-width: 150px">Actualización</th>
																<th style="max-width: 150px">Licencia</th>
																<th style="max-width: 150px">Formatos</th>
																<th style="max-width: 150px">Legibilidad</th>
																<th style="max-width: 150px">Gobernanza</th>
																<th style="max-width: 150px">Puntaje</th>
															</tr>
														</thead>
														<tbody>
															{% for item in collections.databier %}
															<tr >
																<td class="pl-0 py-8" style="padding:15px 0!important">
																	<div class="d-flex align-items-center">
																		<div style="margin-left:10px">
																			<a href="{{item.url}}" class="text-dark-75 font-weight-bolder text-hover-primary mb-1 font-size-lg">{{item.data.databier.id_institucion}}</a><br>
																		</div>
																	</div>
																</td>
																<!-- 1 -->
																{% if item.data.databier.Recoleccion_y_produccion_de_datos == 0 %}
																<td class="rojo bb"></td>
																{% endif %}
																{% if item.data.databier.Recoleccion_y_produccion_de_datos == 1 %}
																<td class="rojo bb"></span></td>
																{% endif %}
																{% if item.data.databier.Recoleccion_y_produccion_de_datos == 2 %}
																<td class="rojo bb"></td>
																{% endif %}
																{% if item.data.databier.Recoleccion_y_produccion_de_datos == 3 %}
																<td class="naranja bb"></td>
																{% endif %}
																{% if item.data.databier.Recoleccion_y_produccion_de_datos == 4 %}
																<td class="naranja bb"></td>
																{% endif %}
																{% if item.data.databier.Recoleccion_y_produccion_de_datos == 5 %}
																<td class="amarillo bb"></td>
																{% endif %}
																{% if item.data.databier.Recoleccion_y_produccion_de_datos == 6 %}
																<td class="amarillo bb"></td>
																{% endif %}
																{% if item.data.databier.Recoleccion_y_produccion_de_datos == 7 %}
																<td class="verde bb"></td>
																{% endif %}
																{% if item.data.databier.Recoleccion_y_produccion_de_datos == 8 %}
																<td class="verde bb"></td>
																{% endif %}
																<!-- 2 -->
																{% if item.data.databier.Disponibilidad_en_linea == 0 %}
																<td class="rojo bb"></td>
																{% endif %}
																{% if item.data.databier.Disponibilidad_en_linea == 1 %}
																<td class="rojo bb"></span></td>
																{% endif %}
																{% if item.data.databier.Disponibilidad_en_linea == 2 %}
																<td class="rojo bb"></td>
																{% endif %}
																{% if item.data.databier.Disponibilidad_en_linea == 3 %}
																<td class="naranja bb"></td>
																{% endif %}
																{% if item.data.databier.Disponibilidad_en_linea == 4 %}
																<td class="naranja bb"></td>
																{% endif %}
																{% if item.data.databier.Disponibilidad_en_linea == 5 %}
																<td class="amarillo bb"></td>
																{% endif %}
																{% if item.data.databier.Disponibilidad_en_linea == 6 %}
																<td class="amarillo bb"></td>
																{% endif %}
																{% if item.data.databier.Disponibilidad_en_linea == 7 %}
																<td class="verde bb"></td>
																{% endif %}
																{% if item.data.databier.Disponibilidad_en_linea == 8 %}
																<td class="verde bb"></td>
																{% endif %}
																<!-- 3 -->
																{% if item.data.databier.Plataformas == 0 %}
																<td class="rojo bb"></td>
																{% endif %}
																{% if item.data.databier.Plataformas == 1 %}
																<td class="rojo bb"></span></td>
																{% endif %}
																{% if item.data.databier.Plataformas == 2 %}
																<td class="rojo bb"></td>
																{% endif %}
																{% if item.data.databier.Plataformas == 3 %}
																<td class="naranja bb"></td>
																{% endif %}
																{% if item.data.databier.Plataformas == 4 %}
																<td class="naranja bb"></td>
																{% endif %}
																{% if item.data.databier.Plataformas == 5 %}
																<td class="amarillo bb"></td>
																{% endif %}
																{% if item.data.databier.Plataformas == 6 %}
																<td class="amarillo bb"></td>
																{% endif %}
																{% if item.data.databier.Plataformas == 7 %}
																<td class="verde bb"></td>
																{% endif %}
																{% if item.data.databier.Plataformas == 8 %}
																<td class="verde bb"></td>
																{% endif %}
																<!-- 4 -->
																{% if item.data.databier.Acceso == 0 %}
																<td class="rojo bb"></td>
																{% endif %}
																{% if item.data.databier.Acceso == 1 %}
																<td class="rojo bb"></span></td>
																{% endif %}
																{% if item.data.databier.Acceso == 2 %}
																<td class="rojo bb"></td>
																{% endif %}
																{% if item.data.databier.Acceso == 3 %}
																<td class="naranja bb"></td>
																{% endif %}
																{% if item.data.databier.Acceso == 4 %}
																<td class="naranja bb"></td>
																{% endif %}
																{% if item.data.databier.Acceso == 5 %}
																<td class="amarillo bb"></td>
																{% endif %}
																{% if item.data.databier.Acceso == 6 %}
																<td class="amarillo bb"></td>
																{% endif %}
																{% if item.data.databier.Acceso == 7 %}
																<td class="verde bb"></td>
																{% endif %}
																{% if item.data.databier.Acceso == 8 %}
																<td class="verde bb"></td>
																{% endif %}
																<!-- 5 -->
																{% if item.data.databier.Periodicidad_de_actualizacion == 0 %}
																<td class="rojo bb"></td>
																{% endif %}
																{% if item.data.databier.Periodicidad_de_actualizacion == 1 %}
																<td class="rojo bb"></span></td>
																{% endif %}
																{% if item.data.databier.Periodicidad_de_actualizacion == 2 %}
																<td class="rojo bb"></td>
																{% endif %}
																{% if item.data.databier.Periodicidad_de_actualizacion == 3 %}
																<td class="naranja bb"></td>
																{% endif %}
																{% if item.data.databier.Periodicidad_de_actualizacion == 4 %}
																<td class="naranja bb"></td>
																{% endif %}
																{% if item.data.databier.Periodicidad_de_actualizacion == 5 %}
																<td class="amarillo bb"></td>
																{% endif %}
																{% if item.data.databier.Periodicidad_de_actualizacion == 6 %}
																<td class="amarillo bb"></td>
																{% endif %}
																{% if item.data.databier.Periodicidad_de_actualizacion == 7 %}
																<td class="verde bb"></td>
																{% endif %}
																{% if item.data.databier.Periodicidad_de_actualizacion == 8 %}
																<td class="verde bb"></td>
																{% endif %}
																<!-- 6 -->
																{% if item.data.databier.Licencia == 0 %}
																<td class="rojo bb"></td>
																{% endif %}
																{% if item.data.databier.Licencia == 1 %}
																<td class="rojo bb"></span></td>
																{% endif %}
																{% if item.data.databier.Licencia == 2 %}
																<td class="rojo bb"></td>
																{% endif %}
																{% if item.data.databier.Licencia == 3 %}
																<td class="naranja bb"></td>
																{% endif %}
																{% if item.data.databier.Licencia == 4 %}
																<td class="naranja bb"></td>
																{% endif %}
																{% if item.data.databier.Licencia == 5 %}
																<td class="amarillo bb"></td>
																{% endif %}
																{% if item.data.databier.Licencia == 6 %}
																<td class="amarillo bb"></td>
																{% endif %}
																{% if item.data.databier.Licencia == 7 %}
																<td class="verde bb"></td>
																{% endif %}
																{% if item.data.databier.Licencia == 8 %}
																<td class="verde bb"></td>
																{% endif %}
																<!-- 7 -->
																{% if item.data.databier.Formatos == 0 %}
																<td class="rojo bb"></td>
																{% endif %}
																{% if item.data.databier.Formatos == 1 %}
																<td class="rojo bb"></span></td>
																{% endif %}
																{% if item.data.databier.Formatos == 2 %}
																<td class="rojo bb"></td>
																{% endif %}
																{% if item.data.databier.Formatos == 3 %}
																<td class="naranja bb"></td>
																{% endif %}
																{% if item.data.databier.Formatos == 4 %}
																<td class="naranja bb"></td>
																{% endif %}
																{% if item.data.databier.Formatos == 5 %}
																<td class="amarillo bb"></td>
																{% endif %}
																{% if item.data.databier.Formatos == 6 %}
																<td class="amarillo bb"></td>
																{% endif %}
																{% if item.data.databier.Formatos == 7 %}
																<td class="verde bb"></td>
																{% endif %}
																{% if item.data.databier.Formatos == 8 %}
																<td class="verde bb"></td>
																{% endif %}		
																<!-- 8 -->
																{% if item.data.databier.Legibilidad == 0 %}
																<td class="rojo bb"></td>
																{% endif %}
																{% if item.data.databier.Legibilidad == 1 %}
																<td class="rojo bb"></span></td>
																{% endif %}
																{% if item.data.databier.Legibilidad == 2 %}
																<td class="rojo bb"></td>
																{% endif %}
																{% if item.data.databier.Legibilidad == 3 %}
																<td class="naranja bb"></td>
																{% endif %}
																{% if item.data.databier.Legibilidad == 4 %}
																<td class="naranja bb"></td>
																{% endif %}
																{% if item.data.databier.Legibilidad == 5 %}
																<td class="amarillo bb"></td>
																{% endif %}
																{% if item.data.databier.Legibilidad == 6 %}
																<td class="amarillo bb"></td>
																{% endif %}
																{% if item.data.databier.Legibilidad == 7 %}
																<td class="verde bb"></td>
																{% endif %}
																{% if item.data.databier.Legibilidad == 8 %}
																<td class="verde bb"></td>
																{% endif %}	
																<!-- 9 -->
																{% if item.data.databier.Gobernanza == 0 %}
																<td class="rojo bb"></td>
																{% endif %}
																{% if item.data.databier.Gobernanza == 1 %}
																<td class="rojo bb"></span></td>
																{% endif %}
																{% if item.data.databier.Gobernanza == 2 %}
																<td class="rojo bb"></td>
																{% endif %}
																{% if item.data.databier.Gobernanza == 3 %}
																<td class="naranja bb"></td>
																{% endif %}
																{% if item.data.databier.Gobernanza == 4 %}
																<td class="naranja bb"></td>
																{% endif %}
																{% if item.data.databier.Gobernanza == 5 %}
																<td class="amarillo bb"></td>
																{% endif %}
																{% if item.data.databier.Gobernanza == 6 %}
																<td class="amarillo bb"></td>
																{% endif %}
																{% if item.data.databier.Gobernanza == 7 %}
																<td class="verde bb"></td>
																{% endif %}
																{% if item.data.databier.Gobernanza == 8 %}
																<td class="verde bb"></td>
																{% endif %}
																<!-- Puntaje -->
																{% if item.data.databier.IndicadorInstitucion2021 == 0 %}
																<td class="rojo bb"></td>
																{% endif %}
																{% if item.data.databier.IndicadorInstitucion2021 == 1 %}
																<td class="rojo bb"></span></td>
																{% endif %}
																{% if item.data.databier.IndicadorInstitucion2021 == 2 %}
																<td class="rojo bb"></td>
																{% endif %}
																{% if item.data.databier.IndicadorInstitucion2021 == 3 %}
																<td class="naranja bb"></td>
																{% endif %}
																{% if item.data.databier.IndicadorInstitucion2021 == 4 %}
																<td class="naranja bb"></td>
																{% endif %}
																{% if item.data.databier.IndicadorInstitucion2021 == 5 %}
																<td class="amarillo bb"></td>
																{% endif %}
																{% if item.data.databier.IndicadorInstitucion2021 == 6 %}
																<td class="amarillo bb"></td>
																{% endif %}
																{% if item.data.databier.IndicadorInstitucion2021 == 7 %}
																<td class="verde bb"></td>
																{% endif %}
																{% if item.data.databier.IndicadorInstitucion2021 == 8 %}
																<td class="verde bb"></td>
																{% endif %}
															</tr>
															{% endfor %}
															
														</tbody>
													</table>
												</div>
												<!--end::Table-->
											</div>
											<!--end::Body-->
										</div>
										<!--end::Advance Table Widget 3-->
									</div>
								</div>
									
							</div>
							<!--end::Layout-->
						</div>
						<!--end::Page Layout-->
					</div>
					<!--end::Container-->
				</div>
				<!--end::Entry-->
			</div>
			<!--end::Content-->
			
		</div>
		<!--end::Wrapper-->
	</div>
	<!--end::Page-->
</div>
<!--end::Main-->

<!--begin::Scrolltop-->
<div id="kt_scrolltop" class="scrolltop">
	<span class="svg-icon">
		<!--begin::Svg Icon | path:assets/media/svg/icons/Navigation/Up-2.svg-->
		<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
			<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
				<polygon points="0 0 24 0 24 24 0 24" />
				<rect fill="#000000" opacity="0.3" x="11" y="10" width="2" height="10" rx="1" />
				<path d="M6.70710678,12.7071068 C6.31658249,13.0976311 5.68341751,13.0976311 5.29289322,12.7071068 C4.90236893,12.3165825 4.90236893,11.6834175 5.29289322,11.2928932 L11.2928932,5.29289322 C11.6714722,4.91431428 12.2810586,4.90106866 12.6757246,5.26284586 L18.6757246,10.7628459 C19.0828436,11.1360383 19.1103465,11.7686056 18.7371541,12.1757246 C18.3639617,12.5828436 17.7313944,12.6103465 17.3242754,12.2371541 L12.0300757,7.38413782 L6.70710678,12.7071068 Z" fill="#000000" fill-rule="nonzero" />
			</g>
		</svg>
		<!--end::Svg Icon-->
	</span>
</div>
<!--end::Scrolltop-->
		
		


<!--end::Body-->

{% endblock %}


{% block body_javascripts %}

<script>var HOST_URL = "https://preview.keenthemes.com/metronic/theme/html/tools/preview";</script>
<!--begin::Global Config(global config for global JS scripts)-->
<script>var KTAppSettings = { "breakpoints": { "sm": 576, "md": 768, "lg": 992, "xl": 1200, "xxl": 1200 }, "colors": { "theme": { "base": { "white": "#ffffff", "primary": "#6993FF", "secondary": "#E5EAEE", "success": "#1BC5BD", "info": "#8950FC", "warning": "#FFA800", "danger": "#F64E60", "light": "#F3F6F9", "dark": "#212121" }, "light": { "white": "#ffffff", "primary": "#E1E9FF", "secondary": "#ECF0F3", "success": "#C9F7F5", "info": "#EEE5FF", "warning": "#FFF4DE", "danger": "#FFE2E5", "light": "#F3F6F9", "dark": "#D6D6E0" }, "inverse": { "white": "#ffffff", "primary": "#ffffff", "secondary": "#212121", "success": "#ffffff", "info": "#ffffff", "warning": "#ffffff", "danger": "#ffffff", "light": "#464E5F", "dark": "#ffffff" } }, "gray": { "gray-100": "#F3F6F9", "gray-200": "#ECF0F3", "gray-300": "#E5EAEE", "gray-400": "#D6D6E0", "gray-500": "#B5B5C3", "gray-600": "#80808F", "gray-700": "#464E5F", "gray-800": "#1B283F", "gray-900": "#212121" } }, "font-family": "Poppins" };</script>
<!--end::Global Config-->
<!--begin::Global Theme Bundle(used by all pages)-->
<script src="/assets/plugins/global/plugins.bundle.js"></script>
<script src="/assets/plugins/custom/prismjs/prismjs.bundle.js"></script>
<script src="/assets/js/scripts.bundle.js"></script>
<!--end::Global Theme Bundle-->

<!--begin::Page Scripts(used by this page)-->
<script src="/assets/js/pages/widgets.js"></script>
<!--end::Page Scripts-->

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>
<script src="/assets/js/pages/features/charts/highcharts.js"></script>

{% endblock %}





