---
pagination:
  data: municipios
  size: 1
  addAllPagesToCollections: true
  alias: muns
tags:
  - muns
permalink: "muns/{{muns.cod_mun}}/index.html"
---

{% extends "base.njk" %}

{% block head %}
<title> Municipios </title>
{% endblock %}

{% block content %}


{% endblock %}

{% block body_javascripts %}



{% endblock %}