---
permalink: "/indmaddig/coban/index.html"
---


{% extends "base.njk" %}

{% block head %}
<title> Índice de datos Abiertos </title>
{% endblock %}

{% block content %}
      <!-- breadcrumb-area-start -->
			<div class="breadcrumb-area pt-150 pb-155" style="background-image:url('/assets/SISTEMA RANKING/SLIDER/02.png');background-size:cover;">
				<div class="container">
					<div class="row">
						<div class="col-xl-6">
							<div class="breadcrumb-text text-center" style="padding: 0 2rem">
								<h2 class="text-white text-left" style="font-weight:1000;font-size:5rem">Índice de Madurez Digital</h2>
							</div>
						</div>
						<!--Paginas-->
						<div class="col-xl-6">

							<select onchange="window.location.href=this.options[this.options.selectedIndex].value" name="elige" size="1" style=" height: 50px;    font-weight: 500; padding:0 20px ; max-width:100%">
								<option value="#" selected>Seleccione el municipio de su interés de interés</option>
								
                                <option value="/indmaddig/sanjuanchamelco/index.html">San Juan Chamelco</option> 
								<option value="/indmaddig/coban/index.html">Cobán</option> 
                                <option value="/indmaddig/sanpedrocarcha/index.html">San Pedro Carchá</option> 
								<option value="/indmaddig/sancruzverapaz/index.html">Santa Cruz Verapáz</option> 
							
                            </select>

                            <a href="/indmaddig/index.html" class="text-white" ><div class="card text-center col-3" style="background:#1aac8a;justify-content:center;margin-top:2rem;padding:2rem 0;border: 1px solid #1aac8a!important">Dato Global</div></a>

							<!--ul id="list">

								{% for item in collections.databier%}
								<li><a href="{{item.url}}">-&nbsp{{item.data.databier.Institucion}}</a><li>
								{% endfor %}

							</ul-->
							
							
						</div>
					</div>
				</div>
			</div>
			<!-- breadcrumb-area-end -->

      <!--begin::Content-->
			<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
				<!--begin::Entry-->
				<div class="d-flex flex-column-fluid">
					<!--begin::Container-->
					<div class="container">
						<!--begin::Page Layout-->
						<div class="d-flex flex-row">
							<!--begin::Layout-->
							<div class="flex-row-fluid ml-lg-8">

                                <div class="row" style="margin-bottom:1rem">
                                    <div class="col-xl-12 justify-content-center" style="text-align:left;">
                                        <h1 style="font-size:3rem;margin:0!important">Cobán</h1>
                                    </div>
                                </div>

                                <div class="row" style="margin-bottom:1rem">
                                    <div class="col-xl-12 justify-content-center" style="text-align:center;margin:2rem 0">
                                        <div class="card card-custom bg-radial-gradient-danger gutter-b">
                                            <h3 style="text-align:left!important; margin:20px 0 0 30px">Índice de Madurez Digital para Cobán</h3>
                                            <img class="w-100" src="/assets/ELEMENTOS/ELEMENTOS SISTEMA RED_INDICE MV/COBAN/SISTEMA RANKING_IMD-14.png">
                                        </div>
                                    </div>					
								</div>

                                <div class="row" style="margin-bottom:1rem">
                                    <div class="col-xl-12 justify-content-center" style="text-align:center;margin:2rem 0">
                                        <div class="card card-custom bg-radial-gradient-danger gutter-b">
                                            <img class="w-100" src="/assets/ELEMENTOS/ELEMENTOS SISTEMA RED_INDICE MV/COBAN/SISTEMA RANKING_IMD-18.png">
                                        </div>
                                    </div>					
								</div>

                                <div class="row" style="margin-bottom:1rem">
                                    <div class="col-xl-12 justify-content-center" style="text-align:center;margin:2rem 0">
                                        <div class="card card-custom bg-radial-gradient-danger gutter-b">
                                            <img class="w-100" src="/assets/ELEMENTOS/ELEMENTOS SISTEMA RED_INDICE MV/COBAN/SISTEMA RANKING_IMD-23.png">
                                        </div>
                                    </div>					
								</div>
                

                            </div>
							<!--end::Layout-->
						</div>
						<!--end::Page Layout-->
					</div>
					<!--end::Container-->
				</div>
				<!--end::Entry-->
			</div>
			<!--end::Content-->
            </div>
		<!--end::Wrapper-->
	</div>
	<!--end::Page-->
</div>
<!--end::Main-->


<!--begin::Scrolltop-->
<div id="kt_scrolltop" class="scrolltop">
	<span class="svg-icon">
		<!--begin::Svg Icon | path:assets/media/svg/icons/Navigation/Up-2.svg-->
		<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
			<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
				<polygon points="0 0 24 0 24 24 0 24" />
				<rect fill="#000000" opacity="0.3" x="11" y="10" width="2" height="10" rx="1" />
				<path d="M6.70710678,12.7071068 C6.31658249,13.0976311 5.68341751,13.0976311 5.29289322,12.7071068 C4.90236893,12.3165825 4.90236893,11.6834175 5.29289322,11.2928932 L11.2928932,5.29289322 C11.6714722,4.91431428 12.2810586,4.90106866 12.6757246,5.26284586 L18.6757246,10.7628459 C19.0828436,11.1360383 19.1103465,11.7686056 18.7371541,12.1757246 C18.3639617,12.5828436 17.7313944,12.6103465 17.3242754,12.2371541 L12.0300757,7.38413782 L6.70710678,12.7071068 Z" fill="#000000" fill-rule="nonzero" />
			</g>
		</svg>
		<!--end::Svg Icon-->
	</span>
</div>
<!--end::Scrolltop-->

{% endblock %}

{% block body_javascripts %}

<script>var HOST_URL = "https://preview.keenthemes.com/metronic/theme/html/tools/preview";</script>
<!--begin::Global Config(global config for global JS scripts)-->
<script>var KTAppSettings = { "breakpoints": { "sm": 576, "md": 768, "lg": 992, "xl": 1200, "xxl": 1200 }, "colors": { "theme": { "base": { "white": "#ffffff", "primary": "#6993FF", "secondary": "#E5EAEE", "success": "#1BC5BD", "info": "#8950FC", "warning": "#FFA800", "danger": "#F64E60", "light": "#F3F6F9", "dark": "#212121" }, "light": { "white": "#ffffff", "primary": "#E1E9FF", "secondary": "#ECF0F3", "success": "#C9F7F5", "info": "#EEE5FF", "warning": "#FFF4DE", "danger": "#FFE2E5", "light": "#F3F6F9", "dark": "#D6D6E0" }, "inverse": { "white": "#ffffff", "primary": "#ffffff", "secondary": "#212121", "success": "#ffffff", "info": "#ffffff", "warning": "#ffffff", "danger": "#ffffff", "light": "#464E5F", "dark": "#ffffff" } }, "gray": { "gray-100": "#F3F6F9", "gray-200": "#ECF0F3", "gray-300": "#E5EAEE", "gray-400": "#D6D6E0", "gray-500": "#B5B5C3", "gray-600": "#80808F", "gray-700": "#464E5F", "gray-800": "#1B283F", "gray-900": "#212121" } }, "font-family": "Poppins" };</script>
<!--end::Global Config-->
<!--begin::Global Theme Bundle(used by all pages)-->
<script src="/assets/plugins/global/plugins.bundle.js"></script>
<script src="/assets/plugins/custom/prismjs/prismjs.bundle.js"></script>
<script src="/assets/js/scripts.bundle.js"></script>
<!--end::Global Theme Bundle-->

<!--begin::Page Scripts(used by this page)-->
<script src="/assets/js/pages/widgets.js"></script>
<!--end::Page Scripts>

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>
<script src="/assets/js/pages/features/charts/highcharts.js"></script-->

<!-- import CDN source -->
<script type="text/javascript" src="https://unpkg.com/@antv/g2plot@latest/dist/g2plot.min.js"></script>
<script  src="/assets/js/pages/features/charts/g2plot.js"></script>

<script src="/assets/js/popup.js"></script>

{% endblock %}